body {
  background-color: white;
  font-family: "Comic Sans MS", serif;
  font-size: 150%;
}
header {
  font-size: 200%;
  text-align: center;
}
footer {
  font-size: small;
  text-align: center;
}
a {
  text-decoration: underline;
  color: blue;
  font-weight: bold;
}
a.active {
  text-decoration: none;
  pointer-events: none;
  cursor: default;
  color: black;
}
hr {
  border-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}
.indent {
  padding-left: 10px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.bottomBorder {
  border-bottom: solid black;
}
.lineItems {
  font-size: 70%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.submitCancel {
  vertical-align: middle;
}
.notValid {
  font-weight: bold;
  color: red;
  font-size: 125%;
}
.inputValid {
  font-size: 125%;
  font-weight: bold;
  color: green;
}
.missing {
  color: red;
}
.border {
  border-width: 2px;
  border-top: solid black;
  border-right: solid black;
  border-bottom: solid black;
  border-left: solid black;  
}
.col-md-6 {
  padding-left: 0px;
  padding-right: 0px;
}
.col-md-8 {
  padding-left: 0px;
  padding-right: 0px;
}.col-md-4 {
  padding-left: 0px;
  padding-right: 0px;
}
.verticalLine {
  border-right: thin solid black;
}
.paddedLeftRight {
  padding-right: 10px;
  padding-left: 10px;
}
.version {
  position: fixed;
  bottom: 0;
  padding-bottom: 10px;
    display: block;
    width: 100%;
  text-align: center;
}
.animate-view-container { position:relative; min-height: 100%; }
.animate-view.ng-enter,
.animate-view.ng-leave {
    transition:0.3s linear all;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.animate-view.ng-enter { opacity:0; }
.animate-view.ng-enter.ng-enter-active { opacity:1; }
.animate-view.ng-leave { opacity:1; }
.animate-view.ng-leave.ng-leave-active { opacity:0; }
/* <--- For debugging remove asterisk.
* {
  outline: 1px solid orange;
}
